<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="js/main.ts" type="module"></script>
    <title>Isa Westling | Om sidan</title>
</head>

<body>
    <header>
        <h1>Isa Westling</h1>
        <nav>
            <ul>
                <li><a href="/">Mina kurser</a></li>
                <li><a href="/addcourse">Lägg till kurser</a></li>
                <li><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Om sidan</h2>
    </main>
</body>

</html>