<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="js/main.js" type="module"></script>
    <title>Isa Westling | Om sidan</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
    <div id="overlay" class="hidden"></div>
    <header>
        <a href="/"><img src="../images/logo.svg" alt="Logotyp Isa Westling"></a>
        <nav id="menu">
            <ul>
                <li><a href="/">KURSER</a></li>
                <li><a href="/addcourse">LÄGG TILL KURS</a></li>
                <li><a class="active" href="/about">OM SIDAN</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Om sidan</h1>
        <section id="about">
            <h2>Uppgiftsbeskrivning</h2>
            <p>Denna webbplats har tagits fram i kursen Backend-baserad webbutveckling (DT207G) med syftet att användare
                i form av studenter ska kunna lagra kurser som de har läst samt erbjuda funktionalitet för att ta bort
                befintliga kurser och lägga till nya kurser.</p>
            <p>Node.js och Express har använts för att ansluta till den databas som lagrar information om kurserna, och
                den databasserver som har använts till uppgiften är PostgreSQL.</p>
            <h3>Slutsatser</h3>
            <p>Det har varit ett roligt projekt att få testa på serverbaserad webbuvtveckling och samtidigt kombinera
                det med klientbaserad webbutveckling. Jag känner att jag har lärt mig mycket nytt och har testat på att
                ansluta till två olika databasservrar. Jag trodde att det skulle vara mycket svårare att kombinera
                klient och server, men känner ändå att jag blev positivt överraskad över hur smidigt det var att ansluta
                till en databas och kunna använda denna från klientsidan.</p>
            <p>Jag valde att starta projektet med att använda MySQL som databasserver. Detta eftersom det kändes mest
                bekant sedan tidigare. Dock ville jag testa att publicera webbplatsen och hittade inte några bra
                gratisalternativ för MySQL och valde därför att byta databasserver till PostgreSQL. Detta för att kunna
                publicera webbplatsen via Render.</p>
            <p>Jag upplevde det något klurigt att ändra databasserver i efterhand, då de inte fungerar exakt likadant
                med bland annat databaskommandon. Såhär i efterhand skulle jag nog bara valt PostgreSQL från början, men
                samtidigt var det kul och lärorikt att få testa på båda två!</p>
        </section>
        <img id="signature" src="images/signature.svg" alt="Isa Westling signatur">
    </main>
    <div class="menu-container">
        <nav class="mobile-menu hidden">
            <ul>
                <li><a href="/">KURSER</a></li>
                <li><a href="/addcourse">LÄGG TILL KURS</a></li>
                <li><a class="active" href="/about">OM SIDAN</a></li>
            </ul>
        </nav>
        <button class="menu-toggle">MENY <i class="fa-solid fa-bars"></i><i class="fa-solid fa-xmark"></i></button>
    </div>
    <footer>
        <p>&copy; 2024 Isa Westling</p>
        <p>DT207G Backend-baserad webbutveckling</p>
        <p>Webbutvecklingsprogrammet, Mittuniversitetet</p>
    </footer>
</body>

</html>