<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="js/main.js" type="module"></script>
    <script src="https://kit.fontawesome.com/0517951e44.js" crossorigin="anonymous" defer></script>
    <title>Isa Westling | Lägg till kurser</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
    <div id="overlay" class="hidden"></div>
    <header>
        <a href="/"><img src="../images/logo.svg"></a>
        <nav id="menu">
            <ul>
                <li><a href="/">KURSER</a></li>
                <li><a id="active" href="/addcourse">LÄGG TILL KURS</a></li>
                <li><a href="/about">OM SIDAN</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Formulär för att lägga till en ny kurs -->
        <section id="add-section">
            <h1>Lägg till kurs</h1>
            <form id="form-container" method="post" action="/">
                <label for="code">Kurskod</label>
                <input type="text" id="code" name="code" placeholder="Ange kurskod" required>
                <label for="name">Kursnamn</label>
                <input type="text" id="name" name="name" placeholder="Ange kursnamn" required>
                <label for="syllabus">Kursplan</label>
                <input type="url" id="syllabus" name="syllabus" placeholder="Ange URL till kursplan" required>
                <label for="progression">Progression</label>
                <select id="progression" name="progression">
                    <option value="">Välj progression</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
                <button type="submit" id="submit">Lägg till kurs <i class="fa fa-solid fa-plus"></i></button>
            </form>
        </section>
    </main>
    <div class="menu-container">
        <nav class="mobile-menu hidden">
            <ul>
                <li><a href="/">KURSER</a></li>
                <li><a href="/addcourse">LÄGG TILL KURS</a></li>
                <li><a href="/about">OM SIDAN</a></li>
            </ul>
        </nav>
        <button class="menu-toggle">MENY <i class="fa-solid fa-bars"></i><i class="fa-solid fa-xmark"></i></button>
    </div>
    <footer>
        <p>&copy; 2024 Isa Westling</p>
        <p>DT207G Backend-baserad webbutveckling</p>
        <p>Webbutvecklingsprogrammet, Mittuniversitetet</p>
    </footer>
</body>

</html>