@charset "UTF-8";
#submit, .delete-btn, .edit-btn {
  background-color: hotpink;
  color: white;
  font-family: "Montserrat", "Roboto", Helvetica, sans-serif;
  margin: 2rem 0;
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 2.2rem;
  width: 100%;
  height: auto;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
#submit:hover, .delete-btn:hover, .edit-btn:hover {
  background-color: #ff369b;
}

nav ul li a {
  font-size: 2rem;
  font-family: "Montserrat", "Roboto", Helvetica, sans-serif;
  color: black;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-decoration: none;
  padding: 0 2rem;
}
nav ul li a:hover {
  text-decoration: underline;
  color: #ff369b;
  text-underline-offset: 0.5rem;
}
@media (max-width: 800px) {
  nav ul li a:hover {
    color: black;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  color: #333;
  height: 100%;
}

/* Styling för rubriker, mixin för gemensamma egenskaper */
h1 {
  font-size: 3rem;
  font-family: "Montserrat", "Roboto", Helvetica, sans-serif;
  color: rgb(32, 32, 32);
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 4rem;
  text-align: center;
  color: rgb(32, 32, 32);
  margin: 4rem 0 0 0;
}

h2 {
  font-size: 2.6rem;
  font-family: "Montserrat", "Roboto", Helvetica, sans-serif;
  color: rgb(32, 32, 32);
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: 3.6rem;
  margin: 4rem 0 0 0;
}

h3 {
  font-size: 2.2rem;
  font-family: "Montserrat", "Roboto", Helvetica, sans-serif;
  color: rgb(32, 32, 32);
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
  margin: 2rem 0 2rem 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    margin: 2rem 0 0 0;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
}
p {
  margin: 1.5rem 0;
  max-width: 75ch;
}

section {
  width: 100%;
  max-width: 900px;
}

a {
  color: hotpink;
}
a:hover {
  color: #ff369b;
}

input,
select {
  font-size: 1.4rem;
  font-family: "Montserrat", "Roboto", Helvetica, sans-serif;
  color: rgb(32, 32, 32);
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 2.4rem;
  color: #333;
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  margin: 0 0 2rem 0;
  border-radius: 5px;
}

label {
  font-size: 1.6rem;
  font-family: "Montserrat", "Roboto", Helvetica, sans-serif;
  color: rgb(32, 32, 32);
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: 2.6rem;
  margin-bottom: 0.5rem;
}

#blank {
  width: 100%;
  height: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(238, 238, 238);
  width: 80%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 4rem;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
header img {
  max-width: 1200px;
}

nav {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(77, 74, 75);
  border-bottom: 1px solid rgb(77, 74, 75);
  margin: 5rem 10% 5rem 10%;
  padding: 2rem;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin: 0 1rem;
}
.active {
  color: hotpink;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 0.5rem;
  background-color: rgb(238, 238, 238);
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 5px;
}

.menu-container {
  display: none;
}

form {
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  border-collapse: collapse;
}
table th {
  padding: 0 1rem;
  text-align: center;
  background-color: rgb(190, 190, 190);
  border-bottom: 1px solid #ccc;
}
table td {
  padding: 0.5rem 1rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
table tbody tr:hover {
  background-color: #d5d5d5;
}

#responsive-table {
  overflow-x: auto;
  width: 100%;
}

footer {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  margin: 10rem 0 0 0;
  background-color: rgb(32, 32, 32);
  color: white;
  text-align: center;
}
footer p {
  margin: 0;
  max-width: none;
}

@media (max-width: 800px) {
  #menu {
    display: none;
  }
  nav {
    margin: 0;
    border: none;
  }
  nav ul {
    flex-direction: column;
    margin-top: 8rem;
  }
  nav ul li {
    margin: 1rem 0;
  }
  nav ul li a {
    padding: 1rem;
    color: white;
  }
  nav ul li a:active {
    color: black;
  }
  .menu-container {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    height: 5rem;
    text-align: center;
    background-color: hotpink;
    z-index: 2;
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .mobile-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50%;
    border-radius: 50% 50% 0 0;
    background-color: hotpink;
    transform: translateY(105%);
    transition: transform 0.5s ease;
    z-index: 1;
    box-shadow: 0 -8px 12px 2px rgba(0, 0, 0, 0.2);
  }
  .mobile-menu.show {
    transform: translateY(0);
  }
  .menu-toggle {
    background-color: hotpink;
    color: white !important;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    font-family: "Montserrat", "Roboto", Helvetica, sans-serif;
    color: rgb(32, 32, 32);
    font-weight: 600;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
    padding: 0 6rem 0 0;
    z-index: 3;
  }
  .menu-toggle i {
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 50% 50%;
  }
  .menu-toggle .fa-bars {
    opacity: 1;
  }
  .menu-toggle .fa-xmark {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-360deg);
  }
  .active {
    color: white;
    background-color: hotpink;
  }
  footer {
    padding-bottom: 7rem;
    margin: 0;
  }
  main {
    width: 100%;
    margin: 2rem auto 5rem auto;
    padding: 1.5rem 1.5rem 5% 1.5rem;
  }
  header {
    padding: 1rem;
  }
}
/* STYLING FÖR KNAPPAR */
#submit {
  width: 50%;
  height: 4rem;
  margin: 2rem 0 0 50%;
  font-size: 1.6rem;
  background-color: hotpink;
}
#submit:hover {
  background-color: #ff0381;
}

.delete-btn {
  width: 11rem;
  font-size: 1.6rem;
  padding: 0.5rem;
  background-color: rgb(236, 58, 58);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
.delete-btn:hover {
  background-color: #de1515;
  color: white;
}

.edit-btn {
  font-size: 1.4rem;
  width: 12rem;
  height: 2.6rem;
  padding: 0;
  background-color: rgb(240, 153, 53);
}
.edit-btn:hover {
  background-color: #e18011;
}

img {
  width: 100%;
  height: auto;
}

#overlay.hidden {
  display: none;
}

#overlay.opacity {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#error-message {
  display: none;
  justify-content: center;
  color: rgb(236, 58, 58);
  font-size: 1.8rem;
  font-weight: 600;
}

.required {
  color: rgb(236, 58, 58);
}

@media (max-width: 600px) {
  #submit {
    width: 100%;
    margin: 2rem 0 0 0;
  }
}
